Django==5.1
djangorestframework==3.15.2
psycopg2-binary==2.9.7
drf-spectacular==0.27.0
python-dotenv==1.0.0
django-cors-headers==4.3.1
gunicorn==22.0.0
Faker==22.0.0
django-oauth-toolkit==2.3.0
tqdm==4.66.3
python-dateutil==2.8.2
plac==1.4.2
django-filter==23.5
celery==5.4.0
watchdog==4.0.0
redis==5.0.1
django-redis==5.4.0